# Global compiled file
*.pyc

# Auto generated conf
egs/**/conf/*
!egs/**/conf/dnn
!egs/**/conf/logging_config.conf


# Running part
experiments/
*data*
egs/blz/ 
egs/speaker_adaptation/ 

# Tools
SPTK*
build/
bin/
tools/
# Pycharm IDE
.idea/
